{% extends base %}

{% block content %}

<main>
    <div>
        <h1>My Tasks</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>

                </tr>
            </tbody>
        </table>
    </div>
</main>
